.section {
  width: 100%;
  max-width: 1280px;
  margin: 120px auto 0px auto;
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: white;
  position: relative;
  padding: 60px 100px 60px 200px;
  border-radius: 16px;

  @media screen and (max-width: 1440px) {
    max-width: 900px;
    padding: 60px 50px 60px 150px;
    gap: 50px;
  }

  @media screen and (max-width: 1024px) {
    gap: 25px;
    padding: 60px 50px 60px 100px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 90px 50px 90px 50px;
    gap: 40px;
    align-items: stretch;
  }

  img.icon {
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(-50%, -50%);
    transform-origin: top center;

    @media screen and (max-width: 1024px) {
      scale: 0.7;
    }

    @media screen and (max-width: 768px) {
      top: 0px;
      left: 50%;
      scale: 1;
      transform: translate(-50%, -50%);
      scale: 0.7;
      transform-origin: top left;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
      font-weight: 800;
      font-size: 44px;
      color: #0e4d7a;
      margin-bottom: 20px;

      @media screen and (max-width: 1024px) {
        font-size: 32px;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      mark {
        color: #18a77c;
      }
    }

    p {
      font-size: 20px;
      font-weight: 400;

      b,
      mark {
        font-weight: 700;
      }

      mark {
        color: #18a77c;
      }
    }
  }
}
