.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto 0px auto;
  background-color: darkcyan;
  padding: 140px 0px 140px 0px;

  h2 {
    font-size: 44px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .articles {
    display: flex;
    gap: 100px;
    margin-top: 100px;

    article {
      flex-direction: column;
      align-items: center;

      .animated_counter {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 54px;

        > div:first-child {
          margin-right: 0px;
          margin-left: 0px;
        }
      }

      p {
        text-align: center;
        color: #fbfbfb;

        &:first-child {
          font-weight: 800;
          font-size: 56px;
          margin-bottom: 30px;
        }

        &:nth-child(2) {
          font-size: 24px;
          font-weight: 800;
          margin-bottom: 10px;
        }

        &:nth-child(3) {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
