.section {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    color: #0e4d7a;
    font-size: 32px;
    margin-bottom: 40px;
    max-width: 900px;
    text-align: center;
    font-weight: 800;

    mark {
      color: #18a77c;
    }
  }
}
