.checkbox {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      + label.checkbox {
        border: solid 1px #18a77c;

        img {
          opacity: 1;
        }
      }
    }
  }

  label.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px #c9d9d4;
    flex-shrink: 0;
    position: relative;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      scale: 0.75;
      opacity: 0;
      transition: 250ms;
    }
  }
}

.checkbox_label {
  transition: 250ms;
}
