.section {
  max-width: 1180px;
  display: flex;
  gap: 120px;
  margin: 160px auto 0px auto;
  align-items: center;
  padding: 0px 30px 0px 30px;

  @media screen and (max-width: 1440px) {
    width: 100dvw;
    gap: 80px;
  }

  @media screen and (max-width: 1024px) {
    gap: 40px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  > header {
    flex-shrink: 0;

    h2 {
      color: #0e4d7a;
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 20px;
      max-width: 350px;

      mark {
        color: #18a77c;
      }

      @media screen and (max-width: 768px) {
        font-size: 30px;
        max-width: 100%;
      }
    }
  }

  > article {
    padding: 40px;
    //border-radius: 8px;
    background-image: repeating-linear-gradient(-41deg, #a3bfd2, #a3bfd2 16px, transparent 16px, transparent 38px, #a3bfd2 38px),
      repeating-linear-gradient(49deg, #a3bfd2, #a3bfd2 16px, transparent 16px, transparent 38px, #a3bfd2 38px),
      repeating-linear-gradient(139deg, #a3bfd2, #a3bfd2 16px, transparent 16px, transparent 38px, #a3bfd2 38px),
      repeating-linear-gradient(229deg, #a3bfd2, #a3bfd2 16px, transparent 16px, transparent 38px, #a3bfd2 38px);
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;

    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      list-style: none;

      li {
        background-color: white;
        border-radius: 10000px;
        padding: 20px;
        font-size: 14px;
        font-weight: 700;
        color: #0e4d7a;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: url("../../../../public/check_icon.svg");
          padding-right: 10px;
        }
      }
    }
  }
}
