.nav {
  background-color: white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 40px #0e4d7a33);
  gap: 30px;
  position: sticky;
  top: 0px;
  z-index: 1000000000;

  a {
    text-decoration: none;
    color: #0e4d7a;
    font-weight: 700;
    font-size: 16px;
  }

  a.logo {
    margin-right: 120px;
  }

  a.active {
    color: #18a77c;
  }

  a:last-child {
    background-color: #18a77c;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    color: white;
  }
}
