.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  a {
    align-self: center;
  }
}

.blog_articles_brief_wrapper {
  width: 100%;
  background-color: white;
  padding: 120px 30px 120px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #0e4d7a;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 60px;

    span {
      color: #18a77c;
    }
  }
}

.blog_articles_brief_wrapper.transparent {
  max-width: 1180px;
  background-color: transparent;
  margin: 0px auto 0px auto;

  h2 {
    margin-bottom: 20px;
  }

  p.shortInformation {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    max-width: 900px;
    margin-bottom: 100px;
    margin-top: 40px;

    span {
      font-weight: 700;
    }
  }

  p.subTitlte {
    width: 100%;
    font-weight: 800;
    font-size: 32px;
    color: #0e4d7a;
    margin-bottom: 40px;
    text-align: left;

    span {
      color: #18a77c;
    }
  }

  > a {
    color: #0e4d7a;
    font-style: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-left: auto;
    transition: 250ms;
    margin-top: 80px;
    text-decoration: none;

    &:hover {
      filter: brightness(1.125);
      translate: -2px 0px;

      img {
        translate: 4px 0px;
      }
    }

    img {
      margin-left: 8px;
      transition: 250ms;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #dee5e3;
    border: 0px;
    margin: 40px 0px 40px 0px;
  }
}

.backgroundWrapper {
  background-color: white;
  margin-top: -120px;
  padding-top: 120px;
}
