.arrow_icon {
  display: flex;
  transition: 250ms;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0px auto;
  padding: 0px 20px 0px 20px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 44px;
      text-align: center;
      color: #0e4d7a;
      margin-bottom: 20px;
      font-weight: 800;

      mark {
        color: #18a77c;
      }

      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;
      text-align: center;
    }

    p.bold {
      margin-top: 40px;
      font-weight: 700;
    }
  }

  .articles {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 40px;
    justify-content: center;

    article {
      width: 280px;
      height: 320px;
      background-color: white;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 36px 40px 40px 40px;

      figure {
        height: calc(100% - 36px); // Minues padding top
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-shrink: 0;

        figcaption {
          text-align: center;
          font-size: 24px;
          font-weight: 700;
        }
      }

      a {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: auto;
        text-decoration: none;
        justify-content: center;
        font-size: 16px;
        color: #18a77c;
        cursor: pointer;
        transition: 250ms;

        &:hover {
          text-decoration: underline;
          filter: brightness(1.125);
          translate: -5px 0px;

          .arrow_icon {
            translate: 10px 0px;
          }
        }
      }
    }
  }
}
