.section {
  width: 100%;
  display: flex;
  padding: 80px 30px 80px 30px;
  margin: 120px auto 0px auto;
  background-color: white;

  > .wrapper {
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    gap: 120px;
    margin: 0px auto 0px auto;

    @media screen and (max-width: 1440px) {
      gap: 80px;
    }

    @media screen and (max-width: 1024px) {
      gap: 40px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    > .wrapper {
      @media screen and (max-width: 768px) {
        scale: 0.75;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      @media screen and (max-width: 425px) {
        align-items: stretch;
      }

      h2 {
        color: #0e4d7a;
        font-weight: 800;
        font-size: 44px;
        margin-bottom: 40px;

        @media screen and (max-width: 768px) {
          font-size: 30px;
        }

        mark {
          color: #18a77c;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      .caption1 {
        margin-bottom: 40px;
      }

      .caption2 {
        margin-bottom: 40px;

        mark {
          font-weight: 700;
        }
      }
    }
  }
}
