.form {
  width: 100%;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
  margin-top: 40px;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  scroll-margin-top: 300px;
  z-index: 2;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(4px);
    transition: 250ms;
    opacity: 0;
    pointer-events: none;
  }

  .input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      font-size: 16px;
      font-weight: 700;

      em {
        font-size: 12px;
        font-weight: 200;
        font-style: normal;
      }
    }

    input,
    textarea {
      border-radius: 8px;
      padding: 11px 16px 11px 16px;
      border: none;
      outline: none;
      font-size: 16px;
      outline: solid transparent 2px;
      transition: 250ms;
      background-color: white;
      a &::placeholder {
        color: #7a8790;
      }

      &:focus {
        outline-color: #18a77c;
      }

      &:valid {
        outline-color: #18a77c;
      }

      &:invalid:not(:placeholder-shown) {
        outline-color: transparent;
      }

      &:not([required]) {
        outline-color: transparent;

        &:focus {
          outline-color: #18a77c;
        }

        &:not(:placeholder-shown) {
          outline-color: #18a77c;
        }
      }
    }
  }

  .input_wrapper.textarea {
    textarea {
      min-height: 140px;
    }
  }

  .drop_down_section {
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 8px;

    input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:valid + label {
        outline-color: #18a77c;
      }
    }

    label {
      height: 100%;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 40px 0px 40px 0px;
      border: dashed 2px #dee5e3;
      border-radius: 8px;
      outline: unset;
      outline: dashed transparent 2px;
      transition: outline 250ms, border 250ms;
      cursor: pointer;

      p {
        font-size: 14px;
        text-align: center;

        mark {
          color: #18a77c;
          text-decoration: underline;
        }
      }

      p.attatched_file {
        font-weight: 800;
        position: relative;

        &:hover {
          color: #e26969;
        }

        &::after {
          width: 16px;
          height: 14px;
          content: "x";
          position: absolute;
          background-color: #e26969;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0px;
          right: -20px;
          border-radius: 100%;
          font-size: 10px;
          padding-bottom: 2px;
        }
      }

      p.caption {
        color: #7a8790;
        margin-top: -10px;
        font-size: 12px;
      }

      img {
        transform: translate(0px, 0px);
        transition: 100ms;

        @keyframes dragging {
          0% {
            transform: translate(-5px, 0px);
          }
          50% {
            transform: translate(5px, 0px);
          }
          100% {
            transform: translate(-5px, 0px);
          }
        }
      }
    }

    label.dragging {
      border: dashed 2px #18a77c;

      p {
        font-weight: 800;
      }

      img {
        transform: translate(-5px, 0px);
        animation: dragging 333ms infinite;
      }
    }
  }

  .input_wrapper.agree {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    label {
      font-size: 16px;
      color: #fbfbfb;
      font-weight: 400;
    }

    a {
      color: #18a77c;
    }
  }

  button {
    align-self: center;

    @media screen and (max-width: 425px) {
      align-self: stretch;
    }
  }

  button.sending {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form.sending {
  &::after {
    opacity: 1;
    pointer-events: all;
  }
}

.form.dark {
  .input_wrapper {
    label {
      color: #1a2125;

      em {
        color: #1a2125;
      }
    }
  }
}

.form.light {
  .input_wrapper {
    label {
      color: #fbfbfb;

      em {
        color: #fbfbfb;
      }
    }
  }
}

.sent {
  div {
    width: 100%;
    max-width: 1180px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 425px) {
      gap: 0px;
    }

    p {
      font-size: 44px;
      font-weight: 800;
      color: white;
      text-align: center;

      @media screen and (max-width: 425px) {
        font-size: 24px;
      }

      mark {
        color: #18a77c;
      }
    }
  }

  div.dark {
    p {
      color: #0e4d7a;
    }
  }
}
