.section {
  margin: 80px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 0px 30px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 800;
      font-size: 44px;
      color: #0e4d7a;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      text-align: center;
    }

    p.caption1 {
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    p.caption2 {
      margin-bottom: 140px;
      max-width: 620px;

      mark {
        font-weight: 700;
      }
    }
  }

  .questions {
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > div {
      background-color: white;
      border-radius: 100px;
      box-shadow: 0px 10px 40px 0px rgba(14, 77, 122, 0.15);
      border-radius: 8px;

      input:checked + details {
        max-height: 200px;
      }

      input:checked + details label::after {
        transform: rotate(90deg);
      }

      input {
        display: none;
      }

      details {
        width: 100%;
        transition: max-height 500ms;
        max-height: 100px;
        overflow: hidden;
        padding: 0px 30px 0px 30px;

        summary {
          display: block;

          label {
            height: 100px; /* This height value must be equal to max-height value of <details> element  */
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #0e4d7a;
            font-size: 20px;
            font-weight: 700;
            transition: 250ms;
            padding-right: 20px;

            &:hover {
              cursor: pointer;
              filter: brightness(1.32);
            }

            &::after {
              width: 10px;
              height: 10px;
              content: url("../../../../public/arrow.svg");
              scale: 2;
              transition: 250ms ease-in-out;
              position: absolute;
              top: 50%;
              transform: translateY(-25%);
              right: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .content {
          font-size: 18px;
          color: #0e4d7a;
          padding-bottom: 30px;
        }
      }
    }
  }

  p.caption3 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 80px;
    color: #0e4d7a;
  }

  p.caption4 {
    font-size: 24px;
    font-weight: 400;
    color: #0e4d7a;
    margin-top: 10px;

    mark {
      color: #18a77c;
    }
  }
}
