.main {
  header {
    max-width: 1440px;
    height: 560px;
    background-color: #0c282c;
    background-image: linear-gradient(to right, #0c282c, #5fa2ab00), url("../../../../../public/home/header/hero_background.png");
    background-position: 100% 55%;
    background-repeat: no-repeat;
    background-size: 66%;
    margin: 40px auto 120px auto;
    border-radius: 16px;
    padding: 100px 120px 100px 120px;
    position: relative;

    > h1 {
      font-size: 44px;
      font-weight: 800;
      color: #fbfbfb;
      max-width: 700px;
    }

    p {
      color: #fbfbfb;
      font-size: 24px;
      margin-top: 20px;
      font-weight: 800;
    }

    .buttons_wrapper {
      display: flex;
      margin-top: 60px;
      gap: 10px;

      button {
        padding: 20px 30px 20px 30px;
        border-radius: 8px;
        border: solid 2px transparent;
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-weight: 700;

        &:first-child {
          border: solid 2px white;
        }

        &:nth-child(2) {
          background-color: #18a77c;
        }
      }
    }
  }
}
