.wrapper1 {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000000000;

  a {
    text-decoration: none;
    color: #0e4d7a;
    font-weight: 700;
    font-size: 16px;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &:hover {
      color: #18a77c;
    }

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }

  a.active {
    color: #18a77c;
  }

  .desktop {
    background-color: white;
    filter: drop-shadow(0px 4px 40px #0e4d7a33);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 30px 20px;
    gap: 30px;

    @media screen and (max-width: 1440px) {
      gap: 20px;
    }

    @media screen and (max-width: 1024px) {
      gap: 15px;
    }

    @media screen and (max-width: 830px) {
      padding: 20px 30px 20px 30px;
    }

    a.logo {
      margin-right: 120px;

      @media screen and (max-width: 1440px) {
        margin-right: 0px;
      }

      @media screen and (max-width: 830px) {
        margin-right: auto;
      }
    }

    button.toggle_mobile_navigation {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      gap: 5px;
      display: none;

      @media screen and (max-width: 830px) {
        display: flex;
      }

      span {
        width: 28px;
        height: 3px;
        background-color: #0e4d7a;
        border-radius: 100px;
        transition: 333ms;
      }
    }

    button.toggle_mobile_navigation.open {
      span {
        transform-origin: left center;
        //translate: 8px 0px;

        &:first-child {
          transform: translate(4px, -2px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translate(4px, 1px) rotate(-45deg);
        }
      }
    }

    > .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @media screen and (max-width: 1440px) {
        gap: 20px;
      }

      @media screen and (max-width: 1024px) {
        gap: 15px;
      }

      @media screen and (max-width: 830px) {
        display: none;
      }

      .link_wrapper {
        position: relative;

        &:hover .sub_menu {
          display: flex;
        }

        &:first-child {
          @media screen and (max-width: 1280px) {
            display: none;
          }
        }

        a {
          z-index: 2;
          position: relative;
        }

        .sub_menu {
          max-width: 1000px;
          background-color: white;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
          display: none;
          padding: 75px 20px 20px 20px;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 8px;

          @media screen and (max-width: 768px) {
            display: flex;
          }

          a {
            white-space: nowrap;
            padding: 10px 0px 10px 0px;
          }
        }
      }

      button {
        @media screen and (max-width: 1024px) {
          padding: 10px 15px 10px 15px !important;
        }
      }
    }
  }

  > button {
    width: 100%;
    transform: translateY(-100%);
    transition: 500ms;
    position: relative;
    z-index: -1;
    display: none;
    border-radius: 0px;

    @keyframes apear-nav-button {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0%);
      }
    }

    @media screen and (max-width: 830px) {
      display: unset;
      animation: apear-nav-button 500ms forwards;
    }
  }

  .mobile {
    width: 100dvw;
    height: calc(100dvh - 133px); // Fixed from dev tools
    overflow: auto;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    translate: 100% 0px;
    transition: translate 500ms;
    padding: 20px 30px 20px 30px;
    flex-shrink: 0;
    position: fixed;
    z-index: 1000000001; // Higher then desktop

    @media screen and (max-width: 830px) {
      display: flex;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        padding: 20px 0px 20px 0px;
      }

      .sub_menu {
        padding: 0px 0px 12px 25px;
        margin-top: -20px;
      }
    }
  }

  .mobile.open {
    translate: 0% 0px;
  }
}
