.wrapper1 {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000000000;

  a {
    text-decoration: none;
    color: #0e4d7a;
    font-weight: 700;
    font-size: 16px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }

  a.active {
    color: #18a77c;
  }

  a:last-child {
    background-color: #18a77c;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    min-width: 120px;
  }

  .desktop {
    background-color: white;
    filter: drop-shadow(0px 4px 40px #0e4d7a33);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 30px 20px;
    gap: 30px;

    @media screen and (max-width: 768px) {
      padding: 20px 30px 20px 30px;
    }

    a.logo {
      margin-right: 120px;

      @media screen and (max-width: 1440px) {
        margin-right: 0px;
      }

      @media screen and (max-width: 768px) {
        margin-right: auto;
      }
    }

    button.toggle_mobile_navigation {
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: white;

      @media screen and (max-width: 768px) {
        display: flex;
      }
    }

    > .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @media screen and (max-width: 1024px) {
        gap: 15px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  > button {
    width: 100%;
    background-color: #18a77c;
    color: white;
    padding: 15px 30px 15px 30px;
    font-size: 16px;
    transform: translateY(-100%);
    transition: 500ms;
    position: relative;
    z-index: -1;
    display: none;

    @keyframes apear-nav-button {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0%);
      }
    }

    @media screen and (max-width: 768px) {
      display: unset;
      animation: apear-nav-button 500ms forwards;
    }
  }

  .mobile {
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    translate: 100% 0px;
    transition: translate 500ms;
    padding: 20px 30px 20px 30px;
    flex-shrink: 0;
    position: fixed;
    z-index: 1000000001; // Higher then desktop

    @media screen and (max-width: 768px) {
      display: flex;
    }

    a {
      padding: 20px 0px 20px 0px;
    }

    a:last-child {
      padding: 15px 20px 15px 20px;
    }
  }

  .mobile.open {
    translate: 0% 0px;
  }
}
