.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 100px 0px;

  p {
    font-size: 44px;
    color: #0e4d7a;
    margin-bottom: 40px;
    font-weight: 800;

    mark {
      color: #18a77c;
    }
  }
}
