.allCategoriesPage {
  $padding-left-and-right: 30px;

  width: 100%;
  max-width: calc(1180px + (2 * $padding-left-and-right)); // Plus padding
  padding: 80px $padding-left-and-right 80px $padding-left-and-right;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px auto;

  > h1 {
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 40px;
    color: #0e4d7a;
  }

  .wrapper {
    width: 100%;
    height: auto;
    display: flex;
    gap: 60px;

    .articles {
      width: 58%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 60px;
      flex-shrink: 1;

      @media screen and (max-width: 1024px) {
        width: 100%;
        align-items: center;
      }
    }

    .wrapper {
      width: 33%;
      max-width: 440px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-shrink: 0;
      position: sticky;
      top: 0px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      aside {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 16px;
        padding: 40px;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 24px;
          color: #0e4d7a;
          font-weight: 800px;
          margin-bottom: 40px;
        }

        a {
          font-size: 20px;
          cursor: pointer;
          transition: 250ms;
          text-decoration: none;

          &:hover {
            color: #18a77c;
          }
        }

        a.choosen {
          color: #18a77c;
        }
      }
    }
  }

  .paginationButtons {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    margin-top: 45px;
    display: flex;
    gap: 10px;
    align-items: center;

    @media screen and (width <=768px) {
      justify-content: center;
    }

    a {
      text-decoration: none;

      button {
        width: 42px;
        height: auto;
        border-radius: 100%;
        aspect-ratio: 1/1;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
        color: #0e4d7a;
        transition: 250ms;

        &:hover {
          background-color: #0e4d7a;
          color: white;
        }
      }

      button.current {
        background-color: #18a77c;
        color: white;

        &:hover {
          background-color: #19ba8a;
        }
      }

      button.doubleArrows {
        background-color: transparent;
      }

      button.doubleArrows.backward {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
