* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #1a2125;

  &::selection {
    background-color: #79ecc9;
  }
}

body {
  background-color: #f1f3f6;

  mark {
    background-color: transparent;
  }

  button {
    cursor: pointer;
    border: none;
  }
}
