* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #1a2125;

  &[contentEditable="true"]:focus {
    outline: 2px #18a77c solid;
    border-radius: 4px;
  }

  &::selection {
    background-color: #79ecc9;
  }
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f3f6;
  }

  ::-webkit-scrollbar-thumb {
    background: #18a77c;
    border-radius: 1000px;
    border: solid 6px #f1f3f6;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #19ba8a;
  }
}

body {
  background-color: #f1f3f6;

  mark {
    background-color: transparent;
  }

  button {
    cursor: pointer;
    border: none;
  }
}
