.section {
  margin: 120px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 120px 30px 120px 30px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 800;
      font-size: 44px;
      color: #0e4d7a;
      margin-bottom: 20px;
      text-align: center;

      @media screen and (max-width: 425px) {
        font-size: 30px;
      }

      mark {
        color: #18a77c;
      }
    }

    > p {
      font-size: 20px;
      text-align: center;
    }

    p.caption1 {
      font-weight: 400;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-bottom: 100px;
    }
  }
}
