.header {
  width: 100%;
  max-width: 1440px;
  padding: 150px 130px 150px 130px;
  border-radius: 16px;
  background-color: #0c282c;
  background-image: linear-gradient(to right, #0c282c, #5fa2ab00), url("../../../../public/sections/section13/background.jpg");
  background-position: 150% 55%;
  background-repeat: no-repeat;
  background-size: 66%;
  margin: 40px auto 120px auto;

  h1 {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 40px;
    max-width: 600px;
  }

  h1,
  .caption1 {
    color: #fbfbfb;
  }

  .caption1 {
    font-size: 24px;
    max-width: 550px;
  }
}
