.footer {
  background-color: #0e4d7a;
  margin: 200px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 30px 30px 30px;
    max-width: 1440px;
    justify-content: center;

    > .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1440px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
      }

      @media screen and (max-width: 768px) {
        align-items: stretch;
      }

      > .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .logo_wrapper {
          display: flex;
          gap: 32px;
          align-items: center;
          margin-right: 160px;

          @media screen and (max-width: 1440px) {
            margin-right: 0px;
          }
        }

        nav {
          display: flex;
          gap: 60px;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }

          .column {
            display: flex;
            flex-direction: column;

            a {
              color: #fbfbfb;
              text-decoration: none;
              margin: 6px 0px 6px 0px;
              white-space: nowrap;
            }
          }
        }
      }

      button {
        background-color: #18a77c;
        color: white;
        padding: 15px 20px 15px 20px;
        border-radius: 8px;
        flex-shrink: 0;
        font-weight: 700;
      }
    }

    span {
      width: 100%;
      height: auto;
      display: flex;
      margin-bottom: 30px;
      margin-top: 60px;
      gap: 40px;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
      }

      p {
        color: #a4bbcc;
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 768px) {
          text-align: center;
        }

        &:first-child {
          margin-right: auto;

          @media screen and (max-width: 768px) {
            margin-right: unset;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .disclaimer {
    width: 100%;
    background-color: #083b60;
    padding: 30px;

    p {
      max-width: 1180px;
      color: #a4bbcc;
      font-weight: 400;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
