.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  h2 {
    color: #0e4d7a;
    font-weight: 800;
    font-size: 44px;
    text-align: center;
    margin-bottom: 20px;
  }

  .caption1 {
    max-width: 650px;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;

    mark {
      font-weight: 700;
    }
  }
}
