.editable {
  display: flex;
  align-items: center;

  * {
    width: 100%;
    color: inherit;

    &:empty::before {
      content: attr(placeholder);
      color: inherit;
      font-style: italic;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .createdElement {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .delete {
    width: auto;
    height: auto;
    background-color: #ff667d;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    transition: 250ms;
    padding: 6px;
    margin-left: 10px;
    overflow: hidden;

    &:hover {
      background-color: #ff8093;
    }
  }
}

.context_menu {
  background-color: rgba(0, 0, 0, 0.125);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000000000;
  backdrop-filter: blur(6px);
  border-radius: 0px 4px 4px 4px;

  .option {
    font-size: 18px;
    text-align: left;
    padding: 6px 12px 6px 12px;
    background-color: rgba(0, 0, 0, 0);
    border: unset;
    transition: 250ms;
    color: black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.125);
    }
  }
}
