.editable {
  display: flex;
  align-items: center;

  .editable_child {
    cursor: pointer;

    > * {
      width: 100%;
      color: inherit;
      padding: 8px;
      border-radius: 4px;
      outline: 2px solid transparent;
      transition: outline 150ms;
      position: relative;

      &:empty::before {
        content: attr(placeholder);
        color: inherit;
        font-style: italic;
        pointer-events: none;
        opacity: 0.5;
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        border-right: solid 2px #cccccc;
        border-radius: 0px 10px 10px 0px;
        transition: 150ms;
        pointer-events: none;
      }

      &:focus {
        border-right: solid 2px transparent;
        outline: 2px solid #18a77c;

        &::after {
          border-right: solid 2px transparent;
        }

        .createdElement {
          &:hover {
            outline: 2px #18a77c solid;
          }
        }
      }

      .createdElement {
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        border-radius: 3px;
        transition: 150ms;
        outline: 2px transparent solid;
      }
    }
  }

  .delete {
    width: auto;
    height: auto;
    background-color: #ff667d;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    transition: 250ms;
    padding: 6px;
    margin-left: 10px;
    overflow: hidden;

    &:hover {
      background-color: #ff8093;
    }
  }
}

.context_menu {
  background-color: rgba(0, 0, 0, 0.125);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000000000;
  backdrop-filter: blur(6px);
  border-radius: 0px 4px 4px 4px;

  .option {
    font-size: 18px;
    text-align: left;
    padding: 6px 12px 6px 12px;
    background-color: rgba(0, 0, 0, 0);
    border: unset;
    transition: 250ms;
    color: black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.125);
    }
  }
}
