.blog_editor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;

  .inputWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    input {
      width: 200px;
      height: auto;
      align-self: stretch;
      text-align: center;
      border: unset;
      border: solid 2px transparent;
      border-radius: 8px;
      transition: 250ms;
      outline-width: 0px;

      &:focus {
        border: solid 2px #18a77c;
      }
    }
  }

  .notifications {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 1000000000000;

    .notifiaction {
      width: 100%;
      height: 100%;
      background-color: rgba(66, 189, 136, 0.5);
      backdrop-filter: blur(4px);
      padding: 6px 36px 6px 36px;
      transform: translateY(-100%);
      animation: apearNotification 3500ms forwards;

      @keyframes apearNotification {
        0% {
          transform: translateY(-100%);
        }

        20% {
          transform: translateY(0%);
        }

        80% {
          transform: translateY(0%);
        }

        100% {
          transform: translateY(-100%);
        }
      }

      p {
        text-align: center;
        font-size: 18px;
        color: white;
        font-weight: 500;
      }
    }
  }

  .login {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 100px auto 0px auto;

    .error {
      color: #ff667d;
    }

    input,
    textarea {
      width: 100%;
      border-radius: 8px;
      padding: 8px 16px 8px 16px;
      border: none;
      outline: none;
      font-size: 18px;
      outline: solid transparent 2px;
      transition: 250ms;

      &:focus {
        outline-color: #18a77c;
      }

      &:valid {
        outline-color: #18a77c;
      }
    }
  }
}
