.section {
  max-width: 1150px;
  display: flex;
  gap: 120px;
  margin: 0px auto 0px auto;

  > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      color: #0e4d7a;
      font-size: 44px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    > .wrapper {
      height: 100%;
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      p {
        font-size: 20px;

        mark.bold {
          font-weight: 700;
        }
      }

      button {
        background-color: #18a77c;
        border-radius: 8px;
        padding: 20px 30px 20px 30px;
        font-size: 16px;
        color: white;
        font-weight: 700;
      }
    }
  }
}
